<h1> <%=@recipe.title()%> </h1>

<%=@instructions%>

<h1>Ingredients: </h1>

<% if @ingredients.any?() %>
<% @ingredients.each() do |ingredient| %>
<ul>
  <li><%=ingredient.name()%></li>
</ul>
  <%end%>
<%else%>
  <p> There are no ingredients! </p>
<%end%>

<h1>Categories: </h1>

<% if @categories.any?() %>
<% @categories.each() do |category| %>
<ul>
  <li><%=category.group()%></li>
</ul>
  <%end%>
<%else%>
  <p> There are no categories </p>
<%end%>



<form action='/recipe/<%=@recipe.id%>' method='post'>
  <input name='_method' type='hidden' value='delete'>
  <button type='submit' class="btn btn-danger">Delete Recipe</button>
</form>

<a href='/'> Go Home </a>
